<div class="sidebar">
    <div class="profile-section">
      <p class="username">Aditya Bhardwaj</p>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/user" routerLinkActive="active"><i class="fas fa-home"></i> Dashboard</a>
      </li>
      <li>
        <a routerLink="/user/user-profile" routerLinkActive="active"><i class="fas fa-id-card"></i> Update Profile</a>
      </li>
      <li>
        <a routerLink="/user/book-oservice" routerLinkActive="active"><i class="fas fa-wrench"></i> Book Service</a>
      </li>
      <li>
        <a routerLink="/user/repair-history" routerLinkActive="active"><i class="fas fa-history"></i> Repair History</a>
      </li>
      <li>
        <a routerLink="/user/payment" routerLinkActive="active"><i class="fas fa-credit-card"></i> Payment</a>
      </li>
      <li>
        <a routerLink="/user/settings" routerLinkActive="active"><i class="fas fa-cog"></i> Settings</a>
      </li>
      <li>
        <a routerLink="/user/contact-us" routerLinkActive="active"><i class="fas fa-headset"></i> Contact Us</a>
      </li>
      <!-- New Invoice Option -->
      <li>
        <a routerLink="/user/invoice" routerLinkActive="active"><i class="fas fa-file-invoice"></i> Invoice</a>
      </li>
    </ul>
  </div>
  