/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #E8BCB9; /* Lighter background color */
    color: #432E54; /* Darker text color */
    display: flex;
    flex-direction: column;
    /* padding: 1.5rem; */
    /* height: 100vh; */
    /* position: fixed;  */
    left: 0;
    top: 0;
    z-index: 1000;
}

.profile-section {
    margin-bottom: 2rem;
    text-align: center;
}

.profile-section .username {
    font-size: 1.50rem;
    font-weight: 600;
    color: #432E54; /* Darker text for username */
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 1.25rem 0;
}

.nav-links a {
    color: #432E54; /* Text color */
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-links a i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.nav-links a:hover {
    background-color: #123458; /* Darker background on hover */
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-links a.active {
    background-color: #D4C9BE; /* Lighter active background color */
    color: #432E54; /* Darker text when active */
}


@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px; /* Reduced width on mobile */
    }

    .nav-links a {
        font-size: 1rem; /* Adjust font size on mobile */
    }
}
