<div class="clutch-container">
    <div class="clutch-text">
      <h2>Clutch Services</h2>
      <br> <br>
      <p>
        At WrenchWise, we understand the crucial role the clutch plays in ensuring smooth gear transitions and optimal driving performance. Our expert technicians provide thorough clutch inspections, repairs, and replacements using high-quality parts. 
        Whether you're experiencing slipping, noise, or difficulty in shifting gears, we ensure your clutch system is restored to its peak condition, enhancing both safety and drivability.
      </p>
  
      <!-- Register Button -->
      <a routerLink="/user-registration" class="register-btn">REGISTER NOW</a>
    </div>
  
    <div class="clutch-image">
      <img src="assets/clutch.png" alt="clutch Service">
    </div>
  </div>
  

