<div class="add-tech-form">
  <h2>Edit Technician</h2>
  <form (ngSubmit)="onSubmit()" #techForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" name="name" type="text" [(ngModel)]="technician.name" required class="form-control" />
    </div>
    

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" [(ngModel)]="technician.password" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" name="email" type="email" [(ngModel)]="technician.email" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input id="mobile" name="mobile" type="text" [(ngModel)]="technician.mobile" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="specializations">Specialization:</label>
      <select id="specializations" name="specialization" [(ngModel)]="technician.specializations" required class="form-control">
        <option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input id="address" name="address" type="text" [(ngModel)]="technician.address" required class="form-control" />
    </div>

    <div class="form-group">
      <label for="experienceYears">Experience (in years):</label>
      <input id="experienceYears" name="experienceYears" type="number" min="0" [(ngModel)]="technician.experienceYears" required class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!techForm.form.valid">Update Technician</button>
  </form>
</div>
