<div class="gearbox-container">
    <div class="gearbox-text">
      <h2>Gearbox Services</h2>
      <br> <br>
      <p>
        At WrenchWise, we specialize in diagnosing and servicing both manual and automatic gearboxes to ensure seamless transmission operation. Our experienced technicians use modern diagnostic tools to identify gearbox issues like hard shifting, unusual noises, or delayed response. 
        With precision repair or replacement, we restore your gearbox's performance and prolong the life of your transmission system.
      </p>
  
      <!-- Register Button -->
      <a routerLink="/user-registration" class="register-btn">REGISTER NOW</a>
    </div>
  
    <div class="gearbox-image">
      <img src="assets/gearbox.png" alt="Gearbox Service">
    </div>
  </div>
  
