<div class="about-container">
    <div class="about-text">
      <h1>ABOUT US</h1>
      <p>
        WrenchWise’s mission is to deliver premium quality car care tailored for luxury vehicles at affordable prices. 
        We ensure real-time updates for all your service needs using a fair and transparent pricing model.
        <br /><br />
        Our skilled technicians, trained in cutting-edge automotive technology, guarantee exceptional service using only genuine OEM parts. 
        At WrenchWise, your vehicle is in expert hands — where trust meets technology.
        <br> <br>
        Customer satisfaction is the core of all initiatives at WrenchWise. Online appointment scheduling with door-step, same day pick-up and drop anywhere in Pune is our constant endeavor to maximize customer convenience. Our commitment stands for reliability and unequalled professionalism to provide dealer quality auto-service at a fair price.
      </p>
    </div>
  
    <div class="about-image">
      <img src="assets/about.jpg" alt="Mechanic working" />
    </div>
  </div>
  