<div class="suspension-container">
    <div class="suspension-text">
      <h2>Suspension Services</h2>
      <br> <br>
      <p>
        A vehicle’s suspension system is vital for a comfortable and stable ride. At WrenchWise, we offer comprehensive suspension services including shock absorber replacement, strut inspection, and full suspension overhauls. 
        Our team ensures that your vehicle maintains proper alignment, balance, and road handling. Trust us to keep your ride smooth, safe, and responsive on every terrain.
      </p>
  
      <!-- Register Button -->
      <a routerLink="/user-registration" class="register-btn">REGISTER NOW</a>
    </div>
  
    <div class="clutch-image">
      <img src="assets/suspension-car.png" alt="suspension Service">
    </div>
  </div>
  


