<div class="engine-container">
    <div class="engine-text">
      <h2>Engine Services</h2>
      <br> <br>
      <p>
        The engine is the heart of your vehicle, and at WrenchWise, we treat it with the care it deserves. Whether it's a minor tune-up or a complete engine overhaul, our skilled professionals are equipped to handle it. We ensure your engine runs efficiently, minimizing fuel consumption and maximizing power output. Count on us for reliable diagnostics, repairs, and maintenance that keep your vehicle running like new.
      </p>
  
      <!-- Register Button -->
      <a routerLink="/user-registration" class="register-btn">REGISTER NOW</a>
    </div>
  
    <div class="engine-image">
      <img src="assets/engine.png" alt="Engine Service">
    </div>
  </div>
  