<div class="container mt-4">
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" routerLink="/admin/add-technician">Add Technician</button>
  </div>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <!-- <th>ID</th> -->
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Specialization</th>
        <th>Address</th>
        <th>Experience (Years)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tech of technicians">
        <!-- <td>{{ tech.id }}</td> -->
        <td>{{ tech.username }}</td>
        <td>{{ tech.email }}</td>
        <td>{{ tech.mobile }}</td>
        <td>{{ tech.specialization }}</td>
        <td>{{ tech.address }}</td>
        <td>{{ tech.experienceYears }}</td>
      
      
          <td class="action-buttons">
            <button class="action-btn edit" (click)="onEdit(tech)">
              <i class="fas fa-edit"></i> Edit
            </button>
            <button class="action-btn delete" (click)="onDelete(tech)">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
          
      
      </tr>
    </tbody>
  </table>
</div>
