<div class="sidebar">
  <div class="profile-section">
    <p class="username">Deepika Yadav</p>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/admin/home"><i class="fas fa-home"></i> Home</a></li>
    <li><a routerLink="/admin/manager"><i class="fas fa-user-tie"></i> Manager</a></li>
    <li><a routerLink="/admin/user"><i class="fas fa-users"></i> User</a></li>
    <li><a routerLink="/admin/technicians-info" routerLinkActive="active"><i class="fas fa-user"></i> Technicians</a></li>
    <li><a routerLink="/admin/user-requests"><i class="fas fa-user-check"></i> User Requests</a></li>
    <li><a routerLink="/admin/vehicles"><i class="fa fa-car"></i> Total Vehicles</a></li>
    <li><a routerLink="/admin/ongoing-repairs"><i class="fa fa-cogs"></i> Ongoing Repairs</a></li>
    <li><a routerLink="/admin/chat"><i class="fas fa-comments"></i> Chat</a></li>
    <li><a routerLink="/admin/settings"><i class="fas fa-cog"></i> Settings</a></li>
    <li><a routerLink="/admin/jobs"><i class="fas fa-briefcase"></i> Jobs</a></li> <!-- New Jobs Section -->
  </ul>
</div>
